@import 'reset.min.scss';

:root {
  --red: #FE0000;
  --red-hover: #DC0000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: clamp(16px, 4vw, 22px);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  font-size: clamp(24px, 7vw, 50px);
  font-weight: 600;
  text-align: center;
}

.btn {
  color: white;
  background: var(--red);
  padding-bottom: clamp(12px, 4vw, 19px);
  padding-top: clamp(13px, 4vw, 20px);
  font-size: clamp(14px, 4vw, 20px);
  border: 1px solid var(--red);
  border-radius: 10px;
  text-align: center;
  width: clamp(180px, 20vw, 261px);
  transition: background .3s;
}

.btn:hover {
  background: var(--red-hover)
}

.btn_white {
  color: var(--red);
  border-color: var(--red);
  background: white;
}
.btn_white:hover {
  color: white;
}